<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<!-- link rel="stylesheet" type="text/css" href="/css/main.css"-->
			<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		</head>
		<body>
			<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
            <li><a href="/about">Old</a></li>
	        	<li><a href="/cv">New</a></li>
        		<li><a href="/project">Borrowed</a></li>
        		<li><a href="/blog">Blue</a></li>
    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/mengping">https://github.com/mengping</a></li>
				</ul>
			</footer>
		</body>
	</html>

		
